<div id="homePage">
	<div id="introBoxTitle">
		<br/><h1>Welcome to the Historic Elizabeth Community Portal!</h1>
		
		</div>
			<div id="introBox">
		<p>
			This is a portal for the township of Elizabeth, Pennsylvania. This place is to inform visitors and local residents about city information, local businesses, and community events.You can view a calendar of ongoing events <a href="/calendar">here</a>, or by clicking on the 'Calendar' link above.You can also search an index to find local businesses or organizations under the 'Community Directory' link.</p>
			<p> If you are a local business or organization, you can sign up 
			and create events which will appear on the calendar. Click below to register!</p>
			<br/>
		
			<a href="/signup"><img src="/images/signup_button.png", border="0"></a>
		</div>
		
	<div id="mapLink">
		<body bgcolor="#ffffff" onload="MM_preloadImages('/images/view_map_button_f2.gif');">
		<a href="http://maps.google.com/maps?q=elizabeth,+PA&amp;hl=en&amp;ei=CIYcS4bLKYquzASyuaWjAQ&amp;sll=40.269237,-79.889771&amp;sspn=0.017029,0.032015&amp;ie=UTF8&amp;view=map&amp;geocode=FbV1ZgIdlfo8-w&amp;split=0&amp;ved=0CA0QpQY&amp;hq=&amp;hnear=Elizabeth,+Allegheny,+Pennsylvania&amp;ll=40.269834,-79.889059&amp;spn=0.009823,0.012875&amp;z=14&amp;source=embed"" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('view_map_button','','/images/view_map_button_f2.gif',1);"><img name="view_map_button" src="/images/view_map_button.gif" width="156" height="28" border="0" id="view_map_button" alt="" /></a></body>
	</div>
</div>